.settlement_details_information
{
  padding-bottom: 10px;
  .information_leftpanel
  {
    width: 60%;
    display: inline-block;
    color: #9F9E9E;
    font-weight: 400;
  }
  .information_right_color
  {
    color: #FF7400;
    width: 40%;
    display: inline-block;
    font-weight: 400;
  }
  .information_rightpanel
  {
    width: 40%;
    display: inline-block;
    color: #9F9E9E;
    font-weight: 400;
  }
}
