.container
{
	width: 100%;
	float: left;
}
.wrapper {
  width: 100%;
  float: left;
}
.settlement_details_wrapper {
  width: 35%;
  margin-left: 45px;
  margin-top: 20px;
  float: left;
  background-color: #fff;
  height: 400px;
  overflow: auto;
  padding: 20px 15px;
  .settlement_details_head
  {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
    color: #9F9E9E;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .settlement_details_information
  {
    padding-bottom: 10px;
    .information_leftpanel
    {
      width: 60%;
      display: inline-block;
      color: #9F9E9E;
      font-weight: 400;
    }
    .information_right_color
    {
      color: #FF7400;
      width: 40%;
      display: inline-block;
      font-weight: 400;
    }
    .information_rightpanel
    {
      width: 40%;
      display: inline-block;
      color: #9F9E9E;
      font-weight: 400;
    }
  }
}
