.container
{
	width: 100%;
	float: left;
}
.wd_100
{
	width: 100%;
	float: left;
}
.profile_wrapper
{
	width: 100%;
	float: left;
}
.search_wrapper
{
	background: #FFF;
	padding: 15px 45px 25px 45px;
	color: rgba(0,0,0,0.54);
	font-size: 15px;
	letter-spacing: 0.3px;
}
.brand_manager_btn
{
	width: 230px;
	height: 30px;
	color: rgba(255, 116, 0, 0.8);
	border: 1px solid #FF7400;
	border-radius: 4px;
	background: #FFF;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.5px;
	transition: all 0.2s linear;
	&:hover
	{
		color: rgba(255, 116, 0, 1); 
	}
	&:focus
	{
		outline: none;
	}
}
.common_btn
{
	width: 130px;
	height: 30px;
	color: rgba(255, 116, 0, 0.8);
	border: 1px solid #FF7400;
	border-radius: 4px;
	background: #FFF;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.5px;
	transition: all 0.2s linear;
	&:hover
	{
		color: rgba(255, 116, 0, 1); 
	}
	&:focus
	{
		outline: none;
	}
}
.search_form
{
	input
	{
		display: inline-block;
		width: 170px;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		background: #FFF;
		margin-right: 30px;
		height: 30px;
		padding: 0 10px;
		color: #4c4c4c;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.5px;
		transition: all 0.2s linear;
		&:focus
		{
			outline: none;
			border: 1px solid #FF7400;
		}
	}
}
.create_state_wrapper
{
	padding: 10px 15px;
	background: #FFF;
	margin: 45px;
	display: inline-block;
	float: left;
	font-size: 14px;
	letter-spacing: 0.5px;
	p
	{
		color: rgba(0,0,0,0.38);
		font-weight: 500;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	.create_form
	{
		text-align: center;
		input
		{
			display: inline-block;
			width: 160px;
			border: 1px solid #CCCCCC;
			border-radius: 4px;
			background: #FFF;
			height: 30px;
			padding: 0 10px;
			color: #4c4c4c;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.5px;
			transition: all 0.2s linear;
			&:focus
			{
				outline: none;
				border: 1px solid #FF7400;
			}
		}
		select
		{
			display: inline-block;
			width: 160px;
			border: 1px solid #CCCCCC;
			border-radius: 4px;
			background: #FFF;
			height: 30px;
			color: #4c4c4c; 
			padding: 0 10px;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.5px;
			transition: all 0.2s linear;
			&:focus
			{
				outline: none;
				border: 1px solid #FF7400;
			}
			option
			{
				color: #4c4c4c; 
			}	
		}

		.indiv_form
		{
			margin-bottom: 15px;
			label
			{
				width: 150px;
				font-weight: 400;
				color: rgba(0,0,0,0.54);
				font-size: 13px;
				text-align: left;
				float: left;
			}
		}
		.create_btn
		{
			margin: auto;
			margin: 10px 0 15px 0;
		}
	}
}
.create_layout
{
	width: 100%;
	float: left;
	padding: 25px 45px 0 45px;
}
