.search_wrapper {
  width: 100%;
  float: left;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.54);
	.edit_btn
	{
		background: #FFF;
		height: 20px;
		text-align: center;
		padding: 0 13px;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		font-size: 11px;
		letter-spacing: 0.3px;
		color: rgba(0,0,0,0.44);
		&:hover
		{
			color: rgba(0,0,0,0.54);
		}
		&:focus
		{
			outline: none;
		}
	}

  .table_fixed_layout {
    background: #FFF;
    width: auto;
    max-width: none;
    thead {
      font-weight: 500;
    }
    thead tr th
    {
      white-space: pre;
      border-bottom: 1px;
      padding: 12px 8px;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.5px;
    }
    tbody tr td
    {
      white-space: pre;
      padding: 11px 8px;
      font-size: 13px;
    }
    tbody tr td:nth-child(2)
    {
      a
      {
        color: rgba(255, 116, 0, 0.9);
      }
    }
    tbody tr td a {
      &:hover {
        color: rgba(255, 116, 0, 1);
        text-decoration: none;
      }
      &:focus
      {
        text-decoration: none;
      }
    }
  }
  .wd_80 {
    width: 100%;
    float: left;
    padding-left: 45px;
    overflow: auto;
  }
  .header_element {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-left: 45px;
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.54);
  }
}
