.container {
  padding: 0;
  overflow-x:scroll;
}

a {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
  display: inline-block;
}
a:active {
  color: #FF7400;
  text-decoration: none;
}
a:hover {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.profile_wrapper {
    width:100%;
    float:left;
    font-family: 'Roboto';
    .white_width {
        float:left ;
        width:100% ;
        height:100px ;
        background: white ;
    }
    .profile_view_wrapper {
        width: 100%;
        float: left;
        padding-left: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        .profile_view_left {
            width:50%;
            float:left ;
            background-color: white ;
            .profile_view_header{
                padding-top: 10px ;
                padding-left: 15px ;
                color: #9F9E9E;
                font-weight: 500;
                text-transform: uppercase;
            }
            .profile_information{
                width:100% ;
                float:left ;
                padding-top: 10px ;
                padding-bottom: 5px ;
                .wd_40 {
                    width: 40%;
                    float: left;
                    padding-left: 15px;
                    font-weight: 400;
                    color: #757575;
                }
                .wd_60 {
                    width: 60%;
                    float: right;
                    word-wrap: break-word;
                    font-weight: 400;
                    color: #757575;
                    .wd_60_link a {
                        color: #FF4108;
                        cursor: pointer;
                        &:hover {
                            color: #FF0000;
                        }
                    }
                }
                .break_word {
                    word-wrap: normal ;
                }
                .error_message {
                    padding-left: 13px;
                    color: #9F9E9E;
                    font-weight: 400;
                }
            }
        }

        .cart_view_header {
            padding-top: 10px ;
            color: #727373;
            font-weight: 500;
            text-transform: uppercase;
        }

        .cart_view_left {
            width: 95%;
            float:left ;
            background-color: white ;
            thead tr {
                color: #727373;
            }
        }
        .recharge_history_left {
            width: 95%;
            float:left ;
            background-color: white ;
            overflow: auto ;
            thead tr {
                color: #727373;
            }
        }

        .profile_view_right {
            width: 50% ;
            float:left ;
            background-color: white;
        }
    }
    .profile_actions {
        width:100% ;
        float:left ;
        padding-top: 30px;
        padding-left: 60px;
        padding-bottom: 30px;
        .profile_action_button {
            width:15% ;
            float:left ;
            margin-right: 40px;
            button {
                color: #FF7400;
                border-color: #FF7400;
                &:hover {
                    color: #FF4108 ;
                }
            }
        }
    }
}
.header_wrapper
{
    width:100%;
    float:left ;
    padding-top: 70px;
    background: #ddd;
    padding-bottom: 10px;
    .header {
      color: #666666;
      font-weight: 400;
      padding-left: 60px;
      h3 {
        margin: 0;
        float: left;
        font-size: 14px;
      }
      .nav {
        padding: 20px;
        float: left;
      }
    }
}


.tableContainer {
  height: 300px;
  position:relative;
  overflow-x: scroll;
  margin-top: 25px;
}

.viewRowsContainer {
  border-left: 1px solid #ddd;
}

.insertContainer {
  height: 450px;
  position:relative;
  overflow: scroll;
  button {
    margin: 0 10px;
  }
  label.radioLabel {
    padding-top: 0;
    input[type="radio"] {
      margin-top: 10px;
    }
  }
  span.radioSpan {
    line-height: 34px;
  }
}

.table {
  width: auto;
  position:relative;
  thead {
    position: relative;
    background: #333;
    color: #ddd;
  }
  th {
    min-width: 100px;
    font-weight: 300;
  }
  td {
    max-width: 300px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.expandable {
  color: #779ecb;
  text-decoration: underline;
}

a.expanded {
  color: red;
}

.expandable:hover {
  background: #eee;
  transition: 0.2s;
  cursor: pointer;
}

.tableNameInput {
  width: 300px;
}
.addCol {
  .input {
    width: 250px;
    display: inline-block;
  }
  .select {
    margin: 0 20px;
    display: inline-block;
    width: 120px;
  }
  i:hover {
    cursor: pointer;
    color: #B85C27;
    transition: 0.2s;
  }
}
