.container
{
	width: 100%;
	float: left;
}
.create_notepad_container
{
	width: 800px;
	float: left;
	background: #FFF;
	padding: 15px 10px 25px 10px;
	margin: 25px 45px;
	.heading
	{
		color: rgba(0,0,0,0.54);
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.3px;
		margin-bottom: 20px;
	}
}
.wd_100
{
	width: 100%;
	float: left;
}
.create_form
{
	width: 100%;
	float: left;
	color: rgba(0,0,0,0.54);
	.create_btn
	{
		width: 130px;
	    height: 30px;
	    color: rgba(255, 116, 0, 0.8);
	    border: 1px solid #FF7400;
	    border-radius: 4px;
	    background: #FFF;
	    cursor: pointer;
	    font-weight: 400;
	    text-align: center;
	    font-size: 13px;
	    letter-spacing: 0.5px;
	    transition: all 0.2s linear;
	    display: block;
	    margin: auto;
	    &:focus
	    {
	    	outline: none;
	    }
	    &:hover
	    {
	    	color: rgba(255, 116, 0 , 1);
	    }
	}
	.indiv_element
	{
		margin-bottom: 15px;
		label
		{
			width: 170px;
			display: inline-block;
			font-weight: 400;
			color: rgba(0,0,0,0.54);
			font-size: 13px;
			letter-spacing: 0.3px; 
			vertical-align: top;
		}
		select
		{
			height: 35px;
			background: #FFF;
			width: 140px;
			padding: 0 10px;
			border-radius: 3px;
			border: 1px solid #CCCCCC;
			&:focus
			{
				outline: none;
				border: 1px solid #FF7400;
			}
		}
		textarea
		{
			border: 1px solid #CCCCCC;
			background: #FFF;
			border-radius: 3px;
			height: 130px;
			padding: 5px 10px;
			width: 500px; 
			resize: none;
			&:focus
			{
				outline: none;
				border: 1px solid #FF7400;
			}
		}
	}

}