.container
{
	width: 100%;
	float: left;
}
.wd_100
{
	width: 100%;
	float: left;
}
.notepad_entries_container
{
	width: 100%;
	float: left;
	padding: 20px 45px;
	.total_item_lab
	{
		color: rgba(0,0,0,0.54);
		font-weight: 500;
		display: block;
		margin-top: 20px;
		margin-bottom: 15px;
		span
		{
			padding-left: 5px;
		}
	}
	.indiv_item
	{
		margin-bottom: 10px;
		.header
		{
			background: #DFDFDF;
			padding: 12px 15px;
			label
			{
				font-weight: 500;
				margin-bottom: 0;
				color: rgba(0,0,0,0.54);
				font-size: 13px;
			}
			label:nth-child(2)
			{
				float: right;
				margin-left: 10px;
			}
			label:last-child
			{
				float:right;
				margin-right: 10px;
			}
		}
		.item_info
		{
			background: #FFF;
			padding: 12px 15px;
			ul
			{
				list-style: none;
				margin: 0;
				padding: 0;
				color: rgba(0,0,0,0.54);
				font-size: 13px;
				li
				{
					margin-bottom: 15px;
					width: 100%;
					float: left;
					label
					{
						width: 25%;
						float: left;
						vertical-align: top;
						font-weight: 400;
						margin-bottom: 0;
					}
					p
					{
						width: 75%;
						float: left;
						margin-bottom: 0;
						font-weight: 400;
						word-break: break-all;
					}
				}
				li:last-child
				{
					margin-bottom: 0;
				}
			}
		}
	}
}
.create_btn
{
	width: 130px;
    height: 30px;
    color: rgba(255, 116, 0, 0.8);
    border: 1px solid #FF7400;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: all 0.2s linear;
    &:focus
    {
    	outline: none;
    }
    &:hover
    {
    	color: rgba(255, 116, 0 , 1);
    }
}