@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container {
  padding: 0;
}

.flexRow {
  display: flex;
}

.add_btn {
  margin: 10px 0;
}

.account {
  padding: 20px 0;
  line-height: 26px;
}

.sidebar {
  font-family: 'Roboto';
  font-weight: 500;
  min-height: 100vh;
  max-height: 500px;
  position: relative;
  background: #DFDFDF;
  color: rgba(0,0,0,0.54);
  overflow-y: scroll;
  padding-left: 25px;
  hr { margin: 0; }
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      padding: 0px 0px 10px 10px;
      transition: color 0.5s;
      a {
        color: rgba(0,0,0,0.54);
        text-decoration: none;
      }
      a:active {
        color: #FF7400;
      }
      a:hover {
        color: rgba(0,0,0,0.87);
      }
    }
    li:hover {
      padding: 0px 0px 10px 10px;
      color: rgba(0,0,0,0.87);
      transition: color 0.5s;
      pointer: cursor;
    }
    li:active {
      color: #FF7400;
    }
  }
}

.main {
  padding: 0;
}
