@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
.right_wrapper  {
    width:100%;
    float:left;
}

.container {
  padding: 0;
  background: #eee;
}

.alert {
  display:inline-block;
}
.menu_bg{
  float:right ;
  position:absolute;
  width: 350px;
  height: 200px;
  left: 600px;
  top: 215px;
  background: #DFDFDF ;
}


.flexRow {
  display: flex;
}

.add_btn {
  margin: 10px 0;
}

.header_children {
  height: 10vh;
}

.account {
  padding: 20px 0;
  line-height: 26px;
}

.sidebar {
  font-family: 'Roboto';
  font-weight: 500;
  min-height: 100vh;
  max-height: 100%;
  position: relative;
  background: #DFDFDF;
  color: rgba(0,0,0,0.54);
  overflow-y: scroll;
  padding-left: 25px;
  #accordion input {
	display: none;
  }
  #accordion label {
	background: #eee;
	border-radius: .25em;
	cursor: pointer;
	display: block;
	margin-bottom: .125em;
	padding: .25em 1em;
	z-index: 20;
}
#accordion label:hover {
	background: #ccc;
}

#accordion input:checked + label {
	background: #ccc;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom: 0;
}
#accordion li {
	background: #f7f7f7;
	height:0px;
	overflow:hidden;
	z-index:10;
}
#accordion article p {
	padding: 1em;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
}


  hr { margin: 0; }
  ul{
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    border: 1px ;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 15px;
    background: #ededed
  }

    p {
      padding-bottom: 0px;
    }
    li {
      padding: 0px 0px 5px 15px;
      a {
        color: rgba(0,0,0,0.54);
        text-decoration: none;
        display: block;
      }
      a:active {
        color: #FF7400;
        text-decoration: none;
      }
      a:hover {
        color: rgba(0,0,0,0.87);
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
      }
    }
    li:hover {
      padding: 0px 0px 5px 15px;
      color: rgba(0,0,0,0.87);
      transition: color 0.5s;
      pointer: cursor;
    }
    li:active {
      color: #FF7400;
    }
}

.main {
  padding: 0;
}
