@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container {
  padding: 0;
}

.alert {
  display:inline-block;
}


.flexRow {
  display: flex;
}

.add_btn {
  margin: 10px 0;
}

.header_children {
  height: 10vh;
}

.account {
  padding: 20px 0;
  line-height: 26px;
}

.sidebar {

  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] ~ ul {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space:nowrap;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
  }
  input[type=checkbox]:checked ~ ul {
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}
input[type=checkbox] + label:before{
	transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px;
  border-left-color: white;
  margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
   -webkit-transition:all .5s ease;
   -moz-transition:all .5s ease;
   -o-transition:all .5s ease;
   transition:all .5s ease;
	position: absolute;
	margin-top: 1px;
}
input[type=checkbox]:checked + label:before {
	transform: rotate(90deg);
	/*margin-top: 6px;
  margin-left: -25px;*/
}
  font-family: 'Roboto';
  font-weight: 500;
  min-height: 100vh;
  max-height: 500px;
  position: relative;
  background: #DFDFDF;
  color: rgba(0,0,0,0.54);
  overflow-y: scroll;
  padding-left: 25px;
  hr { margin: 0; }
  ul{
    list-style: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ABC;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 15px;
  }
    p {
      padding-bottom: 0px;
    }
    li {
      padding: 0px 0px 5px 15px;
      transition: color 0.5s;
      a {
        color: rgba(0,0,0,0.54);
        text-decoration: none;
        display: block;
      }
      a:active {
        color: #FF7400;
      }
      a:hover {
        color: rgba(0,0,0,0.87);
      }
    }
    li:hover {
      padding: 0px 0px 5px 15px;
      color: rgba(0,0,0,0.87);
      transition: color 0.5s;
      pointer: cursor;
    }
    li:active {
      color: #FF7400;
    }
}

.main {
  padding: 0;
}
