.reservation_container {
  width: 100%;
  float: left;
}
a {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
  display: inline-block;
}
a:active {
  color: #FF7400;
}
a:hover {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
.common_btn
{
	width: 130px;
	height: 30px;
	color: rgba(255, 116, 0, 0.8);
	border: 1px solid #FF7400;
	border-radius: 4px;
	background: #FFF;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.5px;
	transition: all 0.2s linear;
	&:hover
	{
		color: rgba(255, 116, 0, 1); 
	}
	&:focus
	{
		outline: none;
	}
}
.create_btn
{
    margin-top: 25px;
    margin-left: 45px;        
	width: 130px;
	height: 30px;
	color: rgba(255, 116, 0, 0.8);
	border: 1px solid #FF7400;
	border-radius: 4px;
	background: #FFF;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.5px;
	transition: all 0.2s linear;
	&:hover
	{
		color: rgba(255, 116, 0, 1); 
	}
	&:focus
	{
		outline: none;
	}
}
