.reservation_container {
  width: 100%;
  float: left;
}
a {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
  display: inline-block;
}
a:active {
  color: #FF7400;
}
a:hover {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}

.wd_100
{
	width: 100%;
	float: left;
}

.search_wrapper
{
	background: #FFF;
	padding: 15px 45px 25px 45px;
	color: rgba(0,0,0,0.54);
	font-size: 15px;
	letter-spacing: 0.3px;
}

.common_btn
{
	width: 130px;
	height: 30px;
	color: rgba(255, 116, 0, 0.8);
	border: 1px solid #FF7400;
	border-radius: 4px;
	background: #FFF;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.5px;
	transition: all 0.2s linear;
	&:hover
	{
		color: rgba(255, 116, 0, 1); 
	}
	&:focus
	{
		outline: none;
	}
}

.search_form
{
  padding-bottom: 20px;
	input, select
	{
		display: inline-block;
		width: 170px;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		background: #FFF;
		margin-right: 30px;
		height: 30px;
		padding: 0 10px;
		color: #4c4c4c;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.5px;
		transition: all 0.2s linear;
		&:focus
		{
			outline: none;
			border: 1px solid #FF7400;
		}
	}
}

.export_as_csv
{
  padding: 15px 45px 0px 45px;
	input
	{
		display: inline-block;
		width: 170px;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		background: #FFF;
		margin-right: 30px;
		height: 30px;
		padding: 0 10px;
		color: #4c4c4c;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.5px;
		transition: all 0.2s linear;
		&:focus
		{
			outline: none;
			border: 1px solid #FF7400;
		}
	}
}
