.constitution_organisation_wrapper
{
  .constitution_organisation_head
  {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
    color: #9F9E9E;
    font-weight: 500;
    padding-bottom: 10px;
  }
}
[data-field-value]
{
  border : 1px solid green!important;
}
[data-field-value = ""]
{
  border : 1px solid red !important;
}
[data-field-non-mandatory]
{
  border : 1px solid grey!important;
}
