  .constitution_organisation_input_container
  {
    width: 50%;
    display: inline-block;
    margin-bottom: 20px;
    .constitution_organisation_input_left
    {
      width: 50%;
      display: inline-block;
      color: #9F9E9E;
    }
    .constitution_organisation_input_right
    {
      width: 50%;
      display: inline-block;
      color: #9F9E9E;
      select
      {
        color: #9F9E9E;
        width: 170px;
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        height: 30px;
        font-size: 13px;
        background-color: #fff;
      }
      select:focus
      {
        outline: none;
        border: 1px solid #FF7400;
      }
    }
  }
